* {
  box-sizing: border-box;
  font-family: 'Catamaran', monospace, sans-serif;
}

/*BASE STYLE=================*/
li {
  background: white;
  margin-bottom: 0.3em;
  padding: 0.5em;

}

a {
  font-weight: bold;
  display: block;
}

#portfolio h4 {
  margin: 0;
  padding: 2.5em 0;
}

.bold {
  font-weight: bold;
}

/*LAYOUT STYLE ==============*/
body {
  background-color: lightgrey;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}

.content {
  padding-bottom: 1em;
}

.content img {
  width: 100%;
}

#portfolio {
  background-color: white;
  padding-bottom: 0.8em;
}

#contact p {
  font-size: 1.2em;
}
#contact {
  padding: 2em 0;
}

#footer {
  border-top: 1px solid grey;
}

#footer p {
  float: left;
  font-weight: bold;
}

.sm-screen {

  float: right;
  font-size: 0.9em;
}

/*MEDIA QUERIES =============*/
@media (min-width:320px) {


  .intro img {
    width: 75%;
  }

  .mdlg-screen {
    display: none;
  }

  .clearfix::after {
    content:"";
    display: table;
    clear: both;
  }
}

@media (min-width: 768px) {

  .name, li{
    display: inline-block;
  }

  li {
    background: lightgrey;
  }

  .intro img {
    float: right;
    width: 50%;
    padding-left: 1em;
  }

  .intro p {
    font-size: 1.3em;
    text-align: left;

  }

  .content {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
    padding: 0 1em;
  }

  #contact {
    width: 60%;
  }

  #footer {
    padding-bottom: 2em;
  }

  .sm-screen {display: none;}
  .mdlg-screen {
    display: block;
    float: right;
  }

  .clearfix::after {
    content:"";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {
  .name {float: left;}
  ul {float: right;}
}
