* {
  box-sizing: border-box;
  font-family: 'Catamaran', monospace, sans-serif;
}

/*BASE STYLE=================*/

li {
  background: white;
  padding: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

/*LAYOUT STYLE ==============*/
body {
  background-color: lightgrey;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  padding-top: 3em;
  padding-bottom: 1.25em;
}

header h1 {
  margin-top: 0;
}

#intro {
  padding-top: 1.25em;
  padding-bottom: 2.5em;}

#intro img {
  width: 70%;
  padding-bottom: 1.5em;
}

#intro p {margin: 0;}

#portfolio {
  background-color: white;
  padding-top: 2.5em;
}

#portfolio h4 {
  margin-top: 0;
  margin-bottom: 2em;
}

#portfolio img {
  width: 100%;
}

.col h4,
.col p {
  width: 80%;
  margin: 0 auto;
}

#contact {
  padding: 3em 0 2.5em;
}

#contact h4{
  margin: 0;
  padding-bottom: 2em;
}

.contact-p {
  padding-bottom: 1.5em;
  margin: 0;
}

.bold {
  font-weight: bold;
}

footer {
  border-top: 1px solid black;
  padding-bottom: 1em;
}

footer .name {float: left;}

.sm-screen,
.mdlg-screen{
  float: right;
}

/*MEDIA QUERIES =============*/
@media (min-width:320px) {
  .col {
    padding-bottom: 2.5em;
  }

  .mdlg-screen {
    display: none;
  }
  .clearfix::after {
    content:"";
    display: table;
    clear: both;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .main-nav li {
    display: inline-block;
    background: lightgrey;
    padding-left: 1em;
    padding-right: 1em;
  }

  #intro img {
    width: 45%;
    float: right;
    padding-left: 1em;
    padding-bottom: 0.5em;
  }

  #intro p {
    font-size: 1.5em;
    text-align: left;
  }

  .col {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    padding-right: 15px;
    vertical-align: top;
  }

  #contact {
    width: 50%;
    margin: 0 auto;
  }

  .footer-nav li {
      display: inline-block;
      padding-top: 20px;
      padding-left: 20px;
      background-color: lightgrey;
  }

  /*Hide/Display divs===========*/

  .sm-screen {
    display: none;
  }

  .mdlg-screen {
    display: block;
    overflow: visible;
  }

/*clearfix =====================*/
  .clearfix::after {
    content:"";
    display: table;
    clear: both;
  }

}

@media (min-width: 1024px) {
  header .name {float: left;}
  header nav {
    float: right;
    padding-top: 10px;
  }

  .main-nav li {
    display: inline-block;
    background: lightgrey;
    padding: 0 0 0 3em;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  #intro p {
    font-size: 2em;
    text-align: left;
  }
  #portfolio {
    width: 95%;
    margin: 0 auto;
  }

  #portfolio .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .col {
    display: inline-block;
    width: 33%;
    margin-right: 0;
    padding: 0 6px 40px;
    vertical-align: top;
  }
}
